@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ModelStateDictionary

@if(!Model.IsValid) {
    @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors)) {
        <div class="alert alert-danger" role="alert">@modelError.ErrorMessage</div>
    }
}
